#one{
color: blueviolet;
}
h2{
    color: rgb(139, 16, 0);
}
.two{
color: darkorange;
}
#four{
    color: rgb(130, 122, 233);
}
.seven{
    color: rgb(255, 0, 179);
}
.eight{
    color: red;
}
#five{
    color: rgb(135, 235, 143);
}
